bcrypt==3.2.0
Bcrypt-Flask==1.0.1
cffi==1.14.5
click==8.0.1
colorama==0.4.4
dnspython==2.1.0
email-validator==1.1.3
Flask==2.0.1
Flask-Login==0.5.0
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.0
gunicorn==20.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
marshmallow==3.12.1
marshmallow-sqlalchemy==0.26.1
numpy==1.21.0
opencv-contrib-python==4.5.2.54
opencv-python==4.5.2.54
postgres==3.0.0
psycopg2-binary==2.9.1
psycopg2-pool==1.1
pycparser==2.20
PyMySQL==1.0.2
six==1.16.0
somepackage==1.2.3
SQLAlchemy==1.4.20
Werkzeug==2.0.1
WTForms==2.3.3
